body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background-color: aliceblue;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

  }
  .siteheader{
    background-color: #bdea0b;
  }
  
 
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }

  .emojis{
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns:482px 482px;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    
  }
  
  .icon {
    order:-1;
    align-self: center;
    font-size: 4rem;
  }

  